* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: auto;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #222;
}

.post {
  width: 100%;
}
.post .post-container {
  border: 1px solid #b71c1c;
  border-radius: 5px;
  margin: 10px;
  display: flex;
}
.post .post-container .votes-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: #b71c1c;
}
.post .post-container .votes-container button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 32px;
  height: 32px;
}
.post .post-container .votes-container button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.post .post-container a {
  width: 100%;
  padding: 15px;
}
.post .post-container a .post-content {
  width: 100%;
  color: #222;
}
.post .post-container a .post-content h2 {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.8rem;
}
.post .post-container a .post-content h2 span {
  color: #f05545;
  border: 1px solid #f05545;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 5px;
}
.post .post-container a .post-content span {
  color: gray;
  font-size: 0.8rem;
}
.post .post-container a .post-content p {
  margin: 10px 0;
}
.post .post-container .comment-count {
  text-align: right;
}
.post .post-container .comment-count span {
  font-size: 1rem;
  margin-left: 5px;
}
.post .post-container:hover {
  box-shadow: 0 0 0 2px inset #b71c1c;
}
@media screen and (min-width: 605px) {
  .post .post-container {
    width: 575px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 780px) {
  .post .post-container {
    width: 680px;
    margin: 10px auto;
  }
}

.navbar nav {
  height: 50px;
  display: flex;
}
.navbar nav a {
  color: auto;
  text-decoration: none;
}
.navbar nav h1 {
  color: #0d47a1;
  border: 3px solid #0d47a1;
  background-color: white;
  line-height: 50px;
  border-radius: 5px;
  display: inline;
  padding: 5px;
}
.navbar nav ul {
  display: flex;
  list-style: none;
  background-color: #0d47a1;
  margin: 7px 0;
  height: 36px;
  width: 100%;
  justify-content: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.navbar nav ul .active {
  background-color: white;
  border: 3px solid #0d47a1;
  border-radius: 5px;
}
.navbar nav ul .active li {
  color: #0d47a1;
  line-height: 30px;
}
.navbar nav ul li {
  line-height: 36px;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  padding: 0 15px;
}
.navbar nav ul .hidden {
  display: none;
}
.navbar nav ul .page-name {
  font-style: italic;
}
@media screen and (max-width: 500px) {
  .navbar nav {
    background-color: #0d47a1;
  }
  .navbar nav h1 {
    border: none;
    margin: 0 5px;
  }
  .navbar nav ul li {
    margin: 0 5px;
  }
}
@media screen and (min-width: 605px) {
  .navbar nav {
    width: 575px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 780px) {
  .navbar nav {
    width: 680px;
    margin: 10px auto;
  }
}

.empty-box {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 5px;
  font-size: 1.2rem;
  padding: 15px 0;
  text-align: center;
  color: gray;
}

.selector-container {
  text-align: right;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
.selector-container a {
  color: auto;
  text-decoration: none;
}
.selector-container a span {
  color: #b71c1c;
  border: 1px solid #b71c1c;
  border-radius: 5px;
  padding: 5px 10px;
}
.selector-container a:hover span {
  background-color: #f05545;
  color: white;
}
.selector-container select {
  font-size: 1rem;
  height: 30px;
  border-color: #b71c1c;
  border-radius: 5px;
}

.input-container form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.input-container form div {
  display: flex;
  justify-content: space-between;
}
.input-container form span {
  line-height: 30px;
  margin-left: 5px;
  font-style: italic;
}
.input-container form label {
  text-align: right;
  margin: 5px;
}
.input-container form label select {
  line-height: 30px;
  font-size: 1rem;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 5px;
}
.input-container form input {
  line-height: 30px;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 5px;
}
.input-container form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 5px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 5px;
}

.comment-container.empty {
  justify-content: center;
  padding: 15px 0;
}

.comment-container {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}
.comment-container .vote-score {
  display: flex;
  flex-direction: column;
  background-color: gray;
  text-align: center;
  color: white;
}
.comment-container .vote-score button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 32px;
  height: 32px;
}
.comment-container .vote-score button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.comment-container .content {
  padding: 10px 15px 0 15px;
  width: 100%;
}
.comment-container .content span {
  color: gray;
  font-size: 0.8rem;
}
.comment-container .content .button-container {
  text-align: right;
}
.comment-container .content .button-container button {
  margin-left: 5px;
}

.component {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.red-button {
  color: #b71c1c;
  background-color: transparent;
  border: 1px solid #b71c1c;
  border-radius: 5px;
  padding: 5px 10px;
}

.red-button:hover {
  background-color: #f05545;
  color: white;
}

.comment-box {
  margin: 10px;
}
.comment-box form {
  display: flex;
  flex-direction: column;
}
.comment-box form label {
  margin: 10px 0;
  color: gray;
}
.comment-box form label input {
  height: 30px;
  margin-left: 5px;
  padding: 0 5px;
}
.comment-box form label span {
  font-style: italic;
  margin-left: 5px;
}
.comment-box form button {
  margin: 10px 0;
}
.comment-box form textarea {
  padding: 10px;
  height: 150px;
}

.edit-post {
  text-align: right;
  margin: 10px;
}
.edit-post button {
  margin-left: 5px;
}

.error p {
  font-size: 1.4rem;
  color: gray;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

@media screen and (min-width: 605px) {
  .container {
    width: 575px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 780px) {
  .container {
    width: 680px;
    margin: 10px auto;
  }
}

/*# sourceMappingURL=styles.css.map */
